extends ../layout

block content
  #welcome.container
    br
    h3 Welcome Back
    br
  form.form-horizontal(id="login_form", method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      #welcome.container
        #login.btn.btn-md.btn-hover.btn-default(onclick='login()') Login
        //requires nodemailer
        //a.btn.btn-link(href='/forgot') Forgot your password?
    //.form-group
      .col-sm-offset-3.col-sm-7
        hr
    //.form-group
      .col-sm-offset-3.col-sm-7
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fa.fa-facebook
          | Sign in with Facebook
        a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
          i.fa.fa-twitter
          | Sign in with Twitter
        a.btn.btn-block.btn-google.btn-social(href='/auth/google')
          i.fa.fa-google-plus
          | Sign in with Google
        a.btn.btn-block.btn-github.btn-social(href='/auth/github')
          i.fa.fa-github
          | Sign in with GitHub
        a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
          i.fa.fa-linkedin
          | Sign in with LinkedIn
        a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
          i.fa.fa-instagram
          | Sign in with Instagram
    script.
      function login() {
      document.getElementById("login_form").submit();
      }
      window.onload = function start(){
      //allow submitting with enter key - Login Form
      $('#login_form').keydown(function(e) {
      var key = e.which;
      if (key == 13) {
      // As ASCII code for ENTER key is "13"
      document.getElementById("login_form").submit();
      }
      });
      }
      //google analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-101352995-1', 'auto');
      ga('send', 'pageview');
