extends layout

block content
  #welcome.container
    br
    br  
    .p(style='color:#333;font-size:120%') Feedback? Feature requests?
    br
    | 
    a(style='font-size:110%')(href='mailto:hi@mescale.co') hi@mescale.co
    | 
    
    
