extends layout

block content
  #welcome.container
    br
    br  
    .p(style='color:#333;font-size:110%') Feedback? Feature requests?
    br
    | 
    a(href='mailto:hi@mescale.co') hi@mescale.co
    | 
