extends layout

block content
  h1 Hackathon Starter
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-6
      h2 Heading
      ul
        input(type='hidden', id="goals_json", value= JSON.stringify(locals))
  script.
    //console.log(db.weight.find().sort({"date":-1}));
    function get_pretty_date(value){
      var start_date = new Date(value)
      //start_date.setDate(start_date.getDate()+1);
      var s_year = start_date.getFullYear();
      var s_month = start_date.getMonth()+1;
      if(s_month <= 9)
          s_month = '0'+s_month;
      var s_day= start_date.getDate();
      if(s_day <= 9)
          s_day = '0'+s_day;
      var s_prettyDate = s_year +'-'+s_month +'-'+ s_day
      return s_prettyDate

    };
    var y_weight = [];
    var x_date = [];
    //bringing in the html element
    TESTER = document.getElementById('tester');
    var goals_json = document.getElementById("goals_json").value;
    var goals_json_value1 = JSON.parse(goals_json);
    for (var i = 0; i < goals_json_value1.weight.length; i++){
      //x_date_stg = (goals_json_value1.goal[count-1].createdAt).substring(0,10);
      var x_date_stg = get_pretty_date(goals_json_value1.weight[i].date)
      y_weight.push(goals_json_value1.weight[i].weight);
      x_date.push(x_date_stg);
      console.log(x_date);
      console.log(y_weight);
    }
