@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------
img {
  display: block;
  margin: 0 auto;

}

#subline.h4{
  color: #404040  !important;
  line-height: 1.7 !important;
  font-weight: normal !important;
}

//img {
//    border: #f5f5f5 !important;
//    border-style: solid !important;
//    border-width: 2px !important;
//}
#landing.container{
  //background: #8dabff !important;
  //max-width: 85% !important;
}
#landing.h3.subheading{
  color: #2196f3 !important;
}
#subline.container{
  text-align: center !important;
  max-width: 85% !important;
}

.home__subline span {
    //white-space: nowrap;
    background-color: #d6ffd8;
    font-weight: 700;
    transition: background-color .25s ease-in-out;
}

.home__subline {
    //max-width: 80%;
    line-height: 1.5;
    text-align: center;
    color: #000;
    font-family: Avenir,Lato,sans-serif;
    font-size: 32px;
    margin-bottom: 2rem;
    transition: color .25s ease-in-out;
}

a.navbar-brand{
  color: #2196f3 !important;
  font-family: Avenir,Lato,sans-serif !important;
  font-weight: bold;
  font-size: 145%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #252525;
    background-color: transparent;
}

a:hover, a:focus {
    color: #ff5722 !important;
     }
a.navbar-brand:hover{
  color: #ff5722 !important;
}
input.form-control{
  width: 100% !important;
}
#signup.col-md-8{
text-align: center !important;
}

#signup.col-md-6{
text-align: center !important;
}
#signup.form-group{
  text-align: center !important;
}

#welcome.container{
  text-align: center !important;
}
.form-control{
  background-color: #fff !important;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill:hover{
  -webkit-box-shadow: 0 0 0 30px white inset;
}

#tablediv.div {
    height: 600px !important;
    overflow-y: auto !important;
}
body{
  background-color: #f9f9f9 !important;
  color: #404040 !important;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Avenir,Lato,sans-serif !important;
  font-weight: 600 !important;
  line-height: 1.1;
  color: #333 !important; }

  #submit.btn{
    color: #333 !important;
  }
  #submit.btn-default:hover {
  color: #000 !important;
  background-color: #fff7e4 !important;
  border: 1px solid #2196f3 !important;
}

#signup_button.btn{
width:160px !important;

border: 1px solid #ccc !important;
background-color: #ff5722 !important;
color: #fff !important;
font-weight: bold !important;

}

#signup_button.btn-default:hover {
color: #ff5722 !important;
background-color: #fff !important;
font-weight: bold !important;
border: 1px solid #2196f3 !important;
}

#login.btn{
width:30% !important;
border: 1px solid #ccc !important;
}

#login.btn-default:hover {
color: #000 !important;
background-color: #fff7e4 !important;
border: 1px solid #2196f3 !important;
}


.btn-default:hover {
  color: #333;
  background-color: #fff7e4  !important;
  border: 1px solid #2196f3 !important;
 }

 .form-control:focus {
   //fade the form in/out on focus
   border-color: #4cfd61;
   box-shadow: inset 0 1px 1px rgba(52, 243, 168, 0.075), 0 0 8px rgba(41, 66, 243, 0.35);
 }

.btn-default {
    color: #2196f3 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.428571429 !important;
    border-radius: 4px !important;
}

.btn {
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.428571429 !important;
    border-radius: 4px !important;
    user-select: none;
}


#progress_container {
  margin: 40px 0 20px;
  width: 100%;
  height: 20px;
  position: relative;
}

.progressbar-text {
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
